NODE_ENV=development
PORT=5003
HOST=0.0.0.0
CORS_ORIGIN=http://localhost:5173,http://localhost:3000

MONGODB_URI=mongodb://localhost:27017/clinical_db
DB_NAME=clinical_db

JWT_ACCESS_SECRET=8be9920e17dd8034952b95754f5212a8cac1f66d90a7121d3303ec06a59bc36d

FRONTEND_URL=http://localhost:5173
